In [11]:
import pandas as pd
import numpy as np
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [20]:
data = pd.read_csv("C:\\Users\\hp\\Downloads\\book.csv")
data

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [21]:
data.index = np.arange(1, len(data)+1)

In [24]:
data['userId']=book.index
data

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence,userId
1,0,1,0,1,0,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,0,2
4,1,1,1,0,1,0,1,0,0,0,0,3
5,0,0,1,0,0,0,1,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...
1996,0,0,1,0,0,1,1,1,0,1,1,1995
1997,0,0,0,0,0,0,0,0,0,0,0,1996
1998,0,0,0,0,0,0,0,0,0,0,0,1997
1999,0,0,1,0,0,0,0,0,0,0,0,1998
2000,0,0,0,0,0,0,0,0,0,0,0,1999

In [25]:
books = data.iloc[:,:-1]
books

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
1,0,1,0,1,0,0,1,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0
4,1,1,1,0,1,0,1,0,0,0,0
5,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1996,0,0,1,0,0,1,1,1,0,1,1
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,0,0,0,0,0,0,0,0,0
1999,0,0,1,0,0,0,0,0,0,0,0
2000,0,0,0,0,0,0,0,0,0,0,0

In [26]:
# for calculating the distances between the user's
# we will use cosine similarity

In [27]:
user_sim = 1- (pairwise_distances(books, metric='cosine'))

In [28]:
user_sim_df = pd.DataFrame(user_sim)
user_sim_df

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,1.000000,0.000000,0.0,0.516398,0.408248,0.000000,0.577350,0.408248,0.408248,0.577350,...,0.516398,0.000000,0.654654,0.0,0.0,0.235702,0.0,0.0,0.000000,0.0
1,0.000000,1.000000,0.0,0.447214,0.000000,0.577350,0.000000,0.000000,0.707107,0.500000,...,0.447214,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
2,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
3,0.516398,0.447214,0.0,1.000000,0.632456,0.258199,0.447214,0.632456,0.316228,0.894427,...,0.600000,0.000000,0.507093,0.0,0.0,0.365148,0.0,0.0,0.447214,0.0
4,0.408248,0.000000,0.0,0.632456,1.000000,0.000000,0.000000,0.000000,0.000000,0.707107,...,0.632456,0.000000,0.534522,0.0,0.0,0.577350,0.0,0.0,0.707107,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.235702,0.000000,0.0,0.365148,0.577350,0.471405,0.000000,0.000000,0.000000,0.408248,...,0.547723,0.408248,0.771517,0.0,0.0,1.000000,0.0,0.0,0.408248,0.0
1996,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
1997,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
1998,0.000000,0.000000,0.0,0.447214,0.707107,0.000000,0.000000,0.000000,0.000000,0.500000,...,0.447214,0.000000,0.377964,0.0,0.0,0.408248,0.0,0.0,1.000000,0.0
1999,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0

In [29]:
user_sim_df.index = data.userId
user_sim_df.columns = data.userId

In [30]:
user_sim_df

userId,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
userId,,,,,,,,,,,,,,,,,,,,,
0,1.000000,0.000000,0.0,0.516398,0.408248,0.000000,0.577350,0.408248,0.408248,0.577350,...,0.516398,0.000000,0.654654,0.0,0.0,0.235702,0.0,0.0,0.000000,0.0
1,0.000000,1.000000,0.0,0.447214,0.000000,0.577350,0.000000,0.000000,0.707107,0.500000,...,0.447214,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
2,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
3,0.516398,0.447214,0.0,1.000000,0.632456,0.258199,0.447214,0.632456,0.316228,0.894427,...,0.600000,0.000000,0.507093,0.0,0.0,0.365148,0.0,0.0,0.447214,0.0
4,0.408248,0.000000,0.0,0.632456,1.000000,0.000000,0.000000,0.000000,0.000000,0.707107,...,0.632456,0.000000,0.534522,0.0,0.0,0.577350,0.0,0.0,0.707107,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.235702,0.000000,0.0,0.365148,0.577350,0.471405,0.000000,0.000000,0.000000,0.408248,...,0.547723,0.408248,0.771517,0.0,0.0,1.000000,0.0,0.0,0.408248,0.0
1996,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
1997,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
1998,0.000000,0.000000,0.0,0.447214,0.707107,0.000000,0.000000,0.000000,0.000000,0.500000,...,0.447214,0.000000,0.377964,0.0,0.0,0.408248,0.0,0.0,1.000000,0.0
1999,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0

In [31]:
# diag0nal values are distance of same users 
# hence we will convert all the diagonal values into 0

In [32]:
np.fill_diagonal(user_sim,0)

In [33]:
user_sim_df

userId,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
userId,,,,,,,,,,,,,,,,,,,,,
0,0.000000,0.000000,0.0,0.516398,0.408248,0.000000,0.577350,0.408248,0.408248,0.577350,...,0.516398,0.000000,0.654654,0.0,0.0,0.235702,0.0,0.0,0.000000,0.0
1,0.000000,0.000000,0.0,0.447214,0.000000,0.577350,0.000000,0.000000,0.707107,0.500000,...,0.447214,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
2,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
3,0.516398,0.447214,0.0,0.000000,0.632456,0.258199,0.447214,0.632456,0.316228,0.894427,...,0.600000,0.000000,0.507093,0.0,0.0,0.365148,0.0,0.0,0.447214,0.0
4,0.408248,0.000000,0.0,0.632456,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,...,0.632456,0.000000,0.534522,0.0,0.0,0.577350,0.0,0.0,0.707107,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.235702,0.000000,0.0,0.365148,0.577350,0.471405,0.000000,0.000000,0.000000,0.408248,...,0.547723,0.408248,0.771517,0.0,0.0,0.000000,0.0,0.0,0.408248,0.0
1996,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
1997,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
1998,0.000000,0.000000,0.0,0.447214,0.707107,0.000000,0.000000,0.000000,0.000000,0.500000,...,0.447214,0.000000,0.377964,0.0,0.0,0.408248,0.0,0.0,0.000000,0.0
1999,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0

In [34]:
# most similar users :-

user_sim_df.idxmax(axis=1)

userId
0       231
1        21
2         0
3       158
4        11
       ...
1995     63
1996      0
1997      0
1998     16
1999      0
Length: 2000, dtype: int64

In [35]:
data[(data['userId']==2) | (data['userId']==22)]

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence,userId
3,0,0,0,0,0,0,0,0,0,0,0,2
23,0,0,0,0,0,0,0,0,0,0,0,22

In [36]:
# as we can see user-1996 did not read that "childbks" we can recommend that user to read that book